<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>

    <section class="about content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pellentesque lorem nec erat maximus congue.
            Morbi eget sodales eros. Pellentesque quis dignissim justo. Mauris sed orci non nulla tincidunt tempor at quis
            sem. Sed ornare dolor posuere diam aliquet fringilla id ut libero. Aliquam mauris eros, facilisis ut elit
            ultricies, sodales interdum diam.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pellentesque lorem nec erat maximus congue.
            Morbi eget sodales eros. Pellentesque quis dignissim justo. Mauris sed orci non nulla tincidunt tempor at quis
            sem. Sed ornare dolor posuere diam aliquet fringilla id ut libero. Aliquam mauris eros, facilisis ut elit
            ultricies, sodales interdum diam.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pellentesque lorem nec erat maximus congue.
            Morbi eget sodales eros. Pellentesque quis dignissim justo. Mauris sed orci non nulla tincidunt tempor at quis
            sem. Sed ornare dolor posuere diam aliquet fringilla id ut libero. Aliquam mauris eros, facilisis ut elit
            ultricies, sodales interdum diam.
        </p>
    </section>
    <%- include('./partials/footer.ejs')%>
</body>
</html>